@import url(https://fonts.googleapis.com/css?family=Comfortaa);

/**
 * Site-wide Settings
 */
/* size down the site in an interesting way */
body {
    transform: scale(0.975);
    font-size: .975em;
}

/* change the logo font; can't be using comic sans */
.logo {
    font-family: Comfortaa, Arial, sans-serif !important;
}

/* let the articles breathe */
.content .post {
    max-width: unset;
}

/* shrink and fade the copyright block */
.content .post .post-copyright {
    font-size: .85em;
    opacity: 0.8;
}

/* shrink and emphasize the tags */
.post-tags {
    font-size: .9em;
    font-style: italic;
}

/* shrink the prev/next nav a tiny bit */
.post-nav {
    font-size: .9em;
}

/* hide all the socials */
.site-footer > .social-icon-links {
    display: none !important;
}

/* bring the header down a bit to hide the bottom of the image */
/* create a gradient to help blend the head edges */
.carl-header {
    background: linear-gradient(90deg, rgba(132,132,124,1) 0%, rgba(160,166,186,1) 100%);
}

/* center the header image */
.carl-header > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/**
 * Index Page Widgets
 */
/* increase from 3 to 4 across */
.post-card-container .posts-grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

/* increase from 3 to 4 across */
.projects .projects-grid .project-card {
    flex: 0 0 calc((100% - 5rem) / 4);
}

